name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    types: [assigned, opened, synchronize, reopened]

jobs:
  build-library-and-examples:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Prepare
      run: |
        sudo apt-get update
        sudo apt-get install -y libssl-dev libcurl4-openssl-dev uncrustify
    - name: Prepare libwebsockets
      run: |
        git clone https://libwebsockets.org/repo/libwebsockets --depth 1 --branch v4.2-stable
        cd libwebsockets
        mkdir build
        cd build
        cmake ..
        make
        sudo make install
    - name: Prepare libyaml
      run: |
        git clone https://github.com/yaml/libyaml
        cd libyaml
        mkdir build
        cd build
        cmake ..
        make
        sudo make install
    - name: Build client library
      run: |
        cd kubernetes
        mkdir build
        cd build
        cmake ..
        make
    - name: Build authentication plugin - oidc
      run: |
        cd kubernetes/config/authn_plugin/plugins/oidc
        mkdir build
        cd build
        cmake ..
        make
    - name: Build examples
      run: |
        cd examples/
        make
    - name: Create k8s kind cluster
      uses: helm/kind-action@v1.2.0
    - name: Test examples
      run: |
        kubectl cluster-info --context kind-chart-testing
        kubectl describe node
        cd examples/
        LD_LIBRARY_PATH=$GITHUB_WORKSPACE/kubernetes/build/:/usr/local/lib make test
